.footer
  background: $dark url('../img/footer-bg.jpg') no-repeat center / cover
  padding-top: 3rem
  &__wrap
    background-color: $black
    max-width: 63.07rem
    margin: auto
    padding: 2.5rem
    margin-top: -17rem
    margin-bottom: 3.714rem
  &__title
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-weight: normal
    font-style: normal
    font-size: 1.428rem
    text-align: center
    margin-bottom: 3.25rem
  &__form
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    max-width: 37.142rem
    margin: auto
  &__input
    padding-top: 0.2rem
    &-group
      position: relative
      display: flex
      flex-direction: column
      flex-basis: 45%
      margin-bottom: 3.22rem
      &--full-width
        flex-basis: 100%
        margin-bottom: 2.22rem
  &__policy
    flex-basis: 100%
    margin-bottom: 3.6rem
    margin-left: -0.8rem
  &__button
    margin: auto
    padding: 1.2rem 4.3rem
    font-size: 1.1rem
  &__menu
    background-color: $dark
    padding: 3.6rem 0
  &__contacts
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    &__address
      max-width: 38rem
      color: $primary
      font-family: Yeseva One, cursive
      font-style: normal
      font-weight: normal
      font-size: 1.42rem
      line-height: 2rem
      text-align: center
      text-transform: uppercase
      margin-bottom: 2rem
    &__social
      margin-bottom: 3rem
    &__link
      margin: 0 0.5rem
    &__phone
      color: $primary
  &__map
    min-height: 33rem
    width: 95%
    margin-bottom: 4rem


